body {
  font-family: 'Poppins', sans-serif; /* closest font to Airbnb's circular */
  color: #484848;
  margin: 0;
  padding: 15px 24px;
}

a {
  text-decoration: none;
  color: #484848;
}

::-webkit-scrollbar { /* scrollbar is invisible - nav and aside*/
    display: none;
}

/* ------------- header ------------- */

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ------------- main ------------- */


h1{
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: -0.6px;
}

h1 span {
  color: #FF5A5F;
  font-weight: bold;
}

/* -- form -- */

form {
  padding: 11px 12px;
  cursor: pointer;

  border: 1px solid #DBDBDB;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
}

form p {
  padding: 0;
  margin: 0;
  white-space: nowrap; /* keeps text on one line*/
  text-overflow: ellipsis;
  overflow: hidden;
}

/* -- main nav -- */

nav {
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;


  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 0.5px solid lightgrey;

  overflow: auto;
  white-space: nowrap;
}

nav a {
  margin-right: 16px;
}

nav a span {
  color: #008489;
  padding-bottom: 12px;
  border-bottom: 2px solid #008489;
}
