* {
  border:
  ;
}

body {
  font-family: 'Poppins', sans-serif; /* closest google-font to Airbnb's circular */
  color: #484848;
}

p {
  color: #484848;
}

/* ###################  Header  ############################# */


header { /*mobile and tablet formats: only logo + menu-arrow are visible*/
  width: 51px; /*applicable solely to mobile and tablet formats*/
  display: flex;
  flex-direction: row; /*imgs (logo + menu-arrow) are next to eachother*/
  align-items: center; /*aligns img menu-arrow to logo. without it img menu-arrow stretches*/
  justify-content: space-between;
}

/*
section {
  width: 327px;
  height: 90px;
}
*/

h1, section p {
  font-size: 25px;
  /*line-height: 30px;
  letter-spacing: -0.6px;*/
}

h1 {
  color: #FF5A5F;
}


/* ###################  Nav  ############################# */

nav {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: ;
}

nav a{
  text-decoration: none;
  color: #767676;
}

nav a:hover{
  color: #008489;
  text-decoration: ;
}

/* ########################### Row with Img   ############################# */

.row-figure-aside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: auto;
}

h3 {
  font-size: 19px;
  margin-bottom: 24px;
}

figure {
}

figcaption {
  width: 177px;
  font-size: 14px; /*valid on price and description text*/
}

figcaption p {
  margin: 0;
  letter-spacing: 0.2px;
}

figcaption img { /*without set dimensions img (star-ratings) stretches out*/
  width: 13px;
  height: 13px;
}

.price-figcaption {
  /*font-size: 15px;*/
  font-weight: bold;
}

.ratings-figcaption { /*includes star-ratings img and comments p*/
  width: 100%;
  display: flex;
  align-items: baseline;

}

.comments-figcaption {
  font-size: 12px;
  margin: 0; /*removed margin otherwise it doesn't align to top*/
}
