* {
  border: 1px  black;
}

body {
  font-family: 'Poppins', sans-serif; /* closest google-font to Airbnb's circular */
}

/* ###################  Header  ############################# */


header { /*mobile and tablet formats: only logo + menu-arrow are visible*/
  width: 51px; /*applicable solely to mobile and tablet formats*/
  display: flex;
  flex-direction: row; /*imgs (logo + menu-arrow) are next to eachother*/
  align-items: center; /*aligns img menu-arrow to logo. without it img menu-arrow stretches*/
  justify-content: space-between;
}

/*
section {
  width: 327px;
  height: 90px;
}
*/

h1, section p {
  font-size: 25px;
  /*line-height: 30px;
  letter-spacing: -0.6px;*/
}

h1 {
  color: #FF5A5F;
}

p {
  color: #484848;
}

/* ###################  Nav  ############################# */

nav {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: ;
}

nav a{
  text-decoration: none;
  color: #767676;
}

nav a:hover{
  color: #008489;
  text-decoration: ;
}

/* ########################### Row with Img   ############################# */

h3 {
  font-size: 19px;
  margin-bottom: 24px;
}

figcaption {
  width: 177px;
  display: flex;
  flex-wrap: wrap;
}

figcaption p {
  font-size: 14px;
  line-height: ;
}

figcaption img { /*star ratings icon. without set dimensions img stretches out*/
  width: 12px;
  height: 12px;
}

.price-figcaption {
  font-size: 15px;
  font-weight: bold;
}

.ratings-figcaption { /*includes star-ratings img and comments p*/
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.comments-figcaption {
  font-size: 10px;
  margin: 0; /*removed margin otherwise it doesn't aligne to top*/
}
