[Desktop Entry]
Encoding=UTF-8
Name=Lien vers https://a0.muscache.com/im/pictures/6577effa-6d50-4abf-b0b6-bee8c6f9d902.jpg?aki_policy=promo_hero
Type=Link
URL=https://a0.muscache.com/im/pictures/6577effa-6d50-4abf-b0b6-bee8c6f9d902.jpg?aki_policy=promo_hero
Icon=image-jpeg
